<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bildverarbeitung</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
</head>
<body>
    <canvas id="heatmapCanvas" width="320" height="240"></canvas>
    <script>
    var temperatureData = {{ temperature_data | tojson | safe }};
    var minValue = Math.min(...temperatureData);
    var maxValue = Math.max(...temperatureData);
    var colorScale = d3.scaleSequential(d3.interpolateTurbo).domain([minValue, maxValue]);
    var canvas = document.getElementById('heatmapCanvas');
    var ctx = canvas.getContext('2d');
    var squareSize = 10;
    var canvasWidthInSquares = canvas.width / squareSize;
    var canvasHeightInSquares = canvas.height / squareSize;

    function drawHeatmap() {
        for (var i = 0; i < canvasWidthInSquares; i++) {
            for (var j = 0; j < canvasHeightInSquares; j++) {
                var dataIndex = i + j * canvasWidthInSquares;
                var value = temperatureData[dataIndex];

                // Farbe basierend auf dem Wert
                var color = colorScale(value);

                // Quadrat zeichnen
                ctx.fillStyle = color;
                ctx.fillRect(i * squareSize, j * squareSize, squareSize, squareSize);
            }
        }
    }

    drawHeatmap();
    console.log("yes");
</script>

</body>
</html>
